.room {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .content {
    display: flex;
    padding: 20px;
    height: 100%;
    min-width: 700px;
  }

  .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid;

    .roomId,
    .count,
    .who {
      margin-bottom: 10px;
    }

    .who {
      display: flex;
      flex-direction: column;

      .login {
        font-weight: 500;
      }
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid;
    width: 50%;
  }
}

